@model BugTracker.Models.CodeFirst.Ticket

<div class="content-wrapper">
    <h3>Edit this ticket</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="panel panel-purple">
                    <div class="panel-heading">Enter ticket details</div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.AssignedToId)
                                @Html.HiddenFor(model => model.SubmitterId)
                                @Html.HiddenFor(model => model.Created)
                                @Html.HiddenFor(model => model.ProjectId)
                                @Html.HiddenFor(model => model.TicketStatusId)
                                @Html.HiddenFor(model => model.Title)


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TicketTypeId, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                    
                                        @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                                    
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TicketPriorityId, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
                                    
                                        @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                                    
                                </div>


                                        <input type="submit" value="Save" class="btn btn-info" />

                        }
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success btn-labeled btn-xs col-lg-offset-9" onclick="location.href='@Url.Action("Index")';">
                            <span class="btn-label"><i class="icon-list"></i></span>
                            Back to List
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>