@model IEnumerable<BugTracker.Models.CodeFirst.Ticket>

<!-- DATATABLES-->
<link rel="stylesheet" href="~/vendor/datatables-colvis/css/dataTables.colVis.css">
<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/vendor/dataTables.fontAwesome/index.css">

<div class="content-wrapper">
    <h3>Resolved Tickets</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-lg clearfix">
            </div>
            <div class="panel b panel-purple">
                <div class="panel-heading">All Resolved Tickets</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="datatable1" class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>ID#</th>
                                    <th>Description</th>
                                    <th>Project</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Submitter</th>
                                    <th>Assigned</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var ticket in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="badge bg-gray-lighter">@ticket.TicketType.Name</div>
                                        </td>
                                        <td>@ticket.Title</td>                                      
                                        <td class="text-nowrap">
                                            <small>@ticket.Description</small>
                                        </td>
                                        <td>@ticket.Project.Name</td>
                                        <td>
                                            @if (ticket.TicketStatus.Name == "Unassigned")
                                            {
                                                <div class="inline wd-xxs label label-warning">Unassigned</div>
                                            }
                                            @if (ticket.TicketStatus.Name == "Assigned")
                                            {
                                                <div class="inline wd-xxs label label-green">Assigned</div>
                                            }
                                            @if (ticket.TicketStatus.Name == "Resolved")
                                            {
                                                <div class="inline wd-xxs label label-danger">Resolved</div>
                                            }
                                        </td>
                                        <td>
                                            @if (ticket.TicketPriority.Name == "High")
                                            {
                                                <div data-toggle="tooltip" data-title="normal" class="circle circle-lg circle-danger"></div><span> High</span>
                                            }
                                            @if (ticket.TicketPriority.Name == "Low")
                                            {
                                                <div data-toggle="tooltip" data-title="normal" class="circle circle-lg circle-green"></div><span> Low</span>
                                            }
                                        </td>
                                        <td>
                                            @ticket.Submitter.FirstName @ticket.Submitter.LastName
                                        </td>
                                        <td>
                                            @if (ticket.AssignedToId == null)
                                            {
                                                <span>N/A</span>
                                            }
                                            else
                                            {
                                                @ticket.AssignedTo.FirstName<span> </span>@ticket.AssignedTo.LastName
                                            }

                                        </td>
       
                                        <td>
                                            <div class="btn-group index-btns">
                                                <button class="btn btn-xs btn-labeled btn-success" onclick="location.href='@Url.Action("Details", new { id = ticket.Id })';">
                                                    <span class="btn-label pull-left"><i class="fa fa-search"></i></span>
                                                    Details
                                                </button>
                                                <button class="btn btn-xs btn-labeled btn-green" onclick="location.href='@Url.Action("Unresolve", new { id = ticket.Id })';">
                                                    <span class="btn-label"><i class="fa fa-magic"></i></span>
                                                    Reactivate
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- DATATABLES-->
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/app/js/demo/demo-datatable.js"></script>
}