@model BugTracker.Models.DashboardViewModel
@using BugTracker.Helper_Classes
@using Microsoft.AspNet.Identity

<!-- DATATABLES-->
<link rel="stylesheet" href="~/vendor/datatables-colvis/css/dataTables.colVis.css">
<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/vendor/dataTables.fontAwesome/index.css">

<!-- Page content-->
<div class="content-wrapper">
    <div class="content-heading">
        Your Dashboard
        <small data-localize="dashboard.WELCOME"></small>
    </div>
    <!-- START row-->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="fa fa-warning fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">@ViewBag.HighPriorityTicketsCount</div>
                            <p class="m0">High Priority @if (ViewBag.HighPriorityTicketsCount != 1) {<span>Tickets</span>}@if (ViewBag.HighPriorityTicketsCount == 1) {<span>Ticket</span>}</p>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Projects")" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right">
                        <em class="fa fa-chevron-circle-right"></em>
                    </span>
                </a>
                <!-- END panel-->
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <!-- START panel-->
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <em class="fa fa-ticket fa-5x"></em>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-lg">@ViewBag.RecentChangesCount</div>
                            <p class="m0">Recent Tickets @if (ViewBag.RecentChangesCount != 1) {<span>Changes</span>}@if (ViewBag.RecentChangesCount == 1) {<span>Change</span>}</p>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index","Tickets")" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right">
                        <em class="fa fa-chevron-circle-right"></em>
                    </span>
                </a>
            </div>
            <!-- END panel-->
        </div>
    </div>
    <!-- END row-->
    <!-- END widgets box-->
    <div class="row">
        <!-- START dashboard main content-->
        <div class="col-lg-9">
            <div class="row">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        Your Urgent Tickets
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="ddatatable table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>ID#</th>
                                        <th>Description</th>
                                        <th>Project</th>
                                        <th>Status</th>
                                        <th>Priority</th>
                                        <th>Submitter</th>
                                        <th>Assigned</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ticket in Model.Tickets)
                                    {
                                        if (ticket.TicketStatus.Name != "Resolved")
                                        {
                                            <tr>
                                                <td>
                                                    <div class="badge bg-gray-lighter">@ticket.TicketType.Name</div>
                                                </td>
                                                <td>@ticket.Title</td>
                                                <td>
                                                    <small>@ticket.Description</small>
                                                </td>
                                                <td>@ticket.Project.Name</td>
                                                <td>
                                                    @if (ticket.TicketStatus.Name == "Unassigned")
                                                    {
                                                        <div class="inline wd-xxs label label-primary">Unassigned</div>
                                                    }
                                                    @if (ticket.TicketStatus.Name == "Assigned")
                                                    {
                                                        <div class="inline wd-xxs label label-green">Assigned</div>
                                                    }
                                                    @if (ticket.TicketStatus.Name == "Resolved")
                                                    {
                                                        <div class="inline wd-xxs label label-danger">Resolved</div>
                                                    }
                                                </td>
                                                <td>
                                                    @if (ticket.TicketPriority.Name == "High")
                                                    {
                                                        <div data-toggle="tooltip" data-title="normal" class="circle circle-lg circle-danger"></div><span> High</span>
                                                    }
                                                    @if (ticket.TicketPriority.Name == "Medium")
                                                    {
                                                        <div data-toggle="tooltip" data-title="normal" class="circle circle-lg circle-warning"></div><span> Medium</span>
                                                    }
                                                    @if (ticket.TicketPriority.Name == "Low")
                                                    {
                                                        <div data-toggle="tooltip" data-title="normal" class="circle circle-lg circle-success"></div><span> Low</span>
                                                    }
                                                </td>
                                                <td>
                                                    @ticket.Submitter.FirstName @ticket.Submitter.LastName
                                                </td>
                                                <td>
                                                    @if (ticket.AssignedToId == null)
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                    else
                                                    {
                                                        @ticket.AssignedTo.FirstName<span> </span>@ticket.AssignedTo.LastName
                                                    }

                                                </td>
                                                <td>
                                                    <div class="btn-group index-btns">
                                                        @if (User.IsInRole("Administrator") || (User.IsInRole("Project Manager") && ticket.Project.InChargeOfId == User.Identity.GetUserId()))
                                                        {
                                                            <button class="btn btn-xs btn-labeled btn-green" onclick="location.href='@Url.Action("Assign","Tickets", new { ticketId = ticket.Id })';">
                                                                <span class="btn-label pull-left"><i class="fa fa-user-plus"></i></span>
                                                                Assign
                                                            </button>
                                                        }
                                                        <button class="btn btn-xs btn-labeled btn-warning" onclick="location.href='@Url.Action("Edit","Tickets",new { id = ticket.Id })';">
                                                            <span class="btn-label pull-left"><i class="fa fa-edit"></i></span>
                                                            Edit
                                                        </button>
                                                        <button class="btn btn-xs btn-labeled btn-success" onclick="location.href='@Url.Action("Details","Tickets",new { id = ticket.Id })';">
                                                            <span class="btn-label pull-left"><i class="fa fa-search"></i></span>
                                                            Details
                                                        </button>
                                                        @if (User.IsInRole("Administrator"))
                                                        {
                                                            <button class="btn btn-xs btn-labeled btn-danger" onclick="location.href='@Url.Action("Delete", "Tickets",new { id = ticket.Id })';">
                                                                <span class="btn-label pull-left"><i class="fa fa-trash"></i></span>
                                                                Resolved
                                                            </button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END dashboard main content-->
        <!-- START dashboard sidebar-->
        <aside class="col-lg-3">
            <div class="panel panel-purple">
                <div class="panel-heading">
                    <div class="pull-right label label-success">@Model.TicketComments.Count</div>
                    <div class="panel-title">Recent ticket comments</div>
                </div>
                <!-- START list group-->
                <div data-height="250" data-scrollable="" class="list-group">
                    <!-- START list group item-->
                    @foreach (var comment in Model.TicketComments)
                    {

                        <div class="list-group-item">
                            <div class="media-box">
                                <div class="pull-left">
                                    <img src="~/app/img/user/default-user.png" alt="Image" class="media-box-object img-circle thumb32">
                                </div>
                                <div class="media-box-body clearfix">
                                    <small class="pull-right">@comment.TimeSincePosted</small>
                                    <strong class="media-box-heading text-primary">
                                        @* This is really bad practice, incorperate this role:comment information into the view model *@
                                        @{ UserRolesManager URManager = new UserRolesManager();
                                            if (URManager.UserIsInRole(comment.UserId, "Administrator"))
                                            {
                                                <span class="circle circle-success circle-lg text-left">
                                                </span>@comment.User.FirstName<span> </span>@comment.User.LastName <text>(<a href="@Url.Action("Details","Tickets",new { id = comment.Ticket.Id })">@comment.Ticket.Title</a>)</text>
                                            }
                                            else if (URManager.UserIsInRole(comment.UserId, "Project Manager"))
                                            {
                                                <span class="circle circle-info circle-lg text-left">
                                                </span>@comment.User.FirstName<span> </span>@comment.User.LastName <text>(<a href="@Url.Action("Details","Tickets",new { id=comment.Ticket.Id })">@comment.Ticket.Title</a>)</text>

                                            }
                                            else if (URManager.UserIsInRole(comment.UserId, "Developer"))
                                            {
                                                <span class="circle circle-warning circle-lg text-left">
                                                </span>@comment.User.FirstName<span> </span>@comment.User.LastName <text>(<a href="@Url.Action("Details","Tickets",new { id=comment.Ticket.Id })">@comment.Ticket.Title</a>)</text>
                                            }
                                            else if (URManager.UserIsInRole(comment.UserId, "Submitter"))
                                            {
                                                <span class="circle circle-danger circle-lg text-left">
                                                </span>@comment.User.FirstName<span> </span>@comment.User.LastName <text>(<a href="@Url.Action("Details","Tickets",new { id=comment.Ticket.Id })">@comment.Ticket.Title</a>)</text>
                                            }
                                        }
                                    </strong>
                                    <p class="mb-sm">
                                        <small>@comment.Comment</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                                                }
                    <!-- END list group item-->
                </div>
                <!-- END list group-->
            </div>
            <!-- START messages and activity-->
            <div class="panel panel-purple">
                <div class="panel-heading">
                    <div class="pull-right label label-success">@Model.TicketAttachments.Count</div>
                    <div class="panel-title">Latest ticket attachments</div>
                </div>
                <!-- START list group-->
                <div data-height="250" data-scrollable="" class="list-group">
                    @foreach (var attachment in Model.TicketAttachments)
                    {
                        <!-- START list group item-->
                        <div class="list-group-item">
                            <div class="media-box">
                                <div class="pull-left">
                                    <span class="fa-stack">
                                        @if (attachment.FileType == "upload")
                                        {
                                            <em class="fa fa-circle fa-stack-2x text-purple"></em>
                                            <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                                        }
                                        @if (attachment.FileType == "document")
                                        {
                                            <em class="fa fa-circle fa-stack-2x text-info"></em>
                                            <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                                        }
                                    </span>
                                </div>
                                <div class="media-box-body clearfix">
                                    <small class="text-muted pull-right ml">@attachment.TimeSincePosted</small>
                                    <div class="media-box-heading">
                                        @attachment.Description (<a href="@Url.Action("Details","Tickets",new { id=attachment.Ticket.Id })">@attachment.Ticket.Title</a>)
                                    </div>
                                    <p class="m0">
                                        <small>
                                            <a href="@attachment.FilePath" target="_blank">@attachment.FileUrl</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END list group item-->
                </div>
                <!-- END list group-->
            </div>
            <!-- END messages and activity-->
        </aside>

        <!-- END dashboard sidebar-->
    </div>
</div>

@section Scripts{

    <!-- DATATABLES-->
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/vendor/datatables-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables-buttons/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables-responsive/js/responsive.bootstrap.js"></script>

    <script>
        $('.ddatatable').dataTable({
        'paging':   true,  // Table pagination
        'ordering': true,  // Column ordering
        'info':     true,  // Bottom left status text
        'responsive': true, // https://datatables.net/extensions/responsive/examples/
        // Text translation options
        // Note the required keywords between underscores (e.g _MENU_)
        oLanguage: {
            sSearch:      'Search all columns:',
            sLengthMenu:  '_MENU_ records per page',
            info:         'Showing page _PAGE_ of _PAGES_',
            zeroRecords:  'Nothing found - sorry',
            infoEmpty:    'No records available',
            infoFiltered: '(filtered from _MAX_ total records)'
        },
        // Datatable Buttons setup
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            {extend: 'copy',  className: 'btn-sm' },
            {extend: 'csv',   className: 'btn-sm' },
            {extend: 'excel', className: 'btn-sm', title: 'XLS-File'},
            {extend: 'pdf',   className: 'btn-sm', title: $('title').text() },
            {extend: 'print', className: 'btn-sm' }
        ]
        });


    </script>
}